.btn-location {
    margin-top: 4rem;
    margin-left: 1rem;
    display: flex;
    width: 40%;
    font-family: $font-heading;
    font-size: $body-m;
    font-weight: 800;
    line-height: 100%;
    letter-spacing: 2px;
    align-items: center;
    background: linear-gradient(to right, $dark 80%, $accent 20%);
    color: $light;
    padding: 20px;
    text-decoration: none;
    text-transform: uppercase;
    position: relative;
    .btn-icon {
    padding: 5px 10px;
    color: $light;
    position: absolute;
    right: 0.5rem;
    }
}
