// Colors
$accent: #D59666;
$dark: #151515;
$medium: #444444;
$light: #FFFFFF;

// Typography
$font-heading: 'Big Shoulders Display', sans-serif;
$font-body: 'Outfit', sans-serif;

// Font Sizes
$heading-xl: 96px;
$heading-l: 70px;
$heading-m: 60px;
$heading-s: 36px;
$body-m: 22px;
$body-s: 18px;

// Line Spacing
$line-spacing-xl: 88px;
$line-spacing-l: 70px;
$line-spacing-m: 50px;
$line-spacing-s: 36px;
$line-spacing-body-m: 32px;
$line-spacing-body-s: 28px;
